<div class="order-panel-header">
  
  <div class="order-quick-actions">
    <form
      hx-post="{% url 'core:send_order' order.id %}"
      hx-target="#order-panel"
      hx-swap="innerHTML"
    >
      {% csrf_token %}
      <button
        type="submit"
        class="btn btn-send"
      >
        Enviar pendientes
      </button>
    </form>

    <button
      class="btn btn-sleep-order"
      hx-get="{% url 'core:map' %}"
      hx-target="#main-content"
      hx-swap="innerHTML"
    >
      Dejar pendiente
    </button>
  </div>
</div>

<div class="order-lines">
  {% for item in order.items.all %}
  <div class="order-line">
    <button
      class="btn btn-edit"
      hx-get="{% url 'core:edit_orderitem' order.id item.id %}"
      hx-target="#modal-panel"
      hx-swap="innerHTML"
    >
      Editar
    </button>
    <div class="order-line-title">
      {{ item.product.name }} - {{ item.product.price }} EUR
    </div>

    {% if item.extras.all %}
    <div class="line-extras">
      <div>Extras:</div>
      {% for extra in item.extras.all %}
      <div>
        {{ extra.allowed_extra.extra.name }} {% if extra.quantity > 1 %}x {{ extra.quantity }}{% endif %}
        - {{ extra.allowed_extra.extra.price }} EUR {% if extra.quantity > 1 %}= {{ extra.total }} EUR{% endif %}
      </div>
      {% endfor %}
    </div>
    {% endif %}

    <div class="line-status">
      {% if item.status == "S" %}Enviado
      {% elif item.status == "P" %}Pendiente
      {% else %}Entregado
      {% endif %}
    </div>

    <strong>Total producto: {{ item.total }} EUR</strong>

    <form
      hx-post="{% url 'core:delete_orderitem' item.id %}"
      hx-target="#order-panel"
      hx-swap="innerHTML"
    >
      {% csrf_token %}
      <button
        type="submit"
        class="btn btn-delete"
      >
        Borrar Item
      </button>
    </form>
  </div>

  {% empty %}
    <p>No hay productos añadidos todavía.</p>
  {% endfor %}
</div>

<div class="order-total">
  <strong>Total comanda: {{ order.total }} EUR</strong>
</div>

<div class="order-actions">
  <button
    class="btn btn-divide"
    hx-get="{% url 'core:divide_order' order.id %}"
    hx-target="#main-content"
    hx-swap="innerHTML"
  >
    Dividir comanda
  </button>

  <button
    class="btn btn-close"
    type="button"
    hx-get="{% url 'zeta:close_order' order.id %}"
    hx-target="#main-content"
    hx-swap="innerHTML"
  >
    Cerrar comanda
  </button>

  <form
    hx-post="{% url 'core:delete_order' order.id 0 %}"
    hx-target="#main-content"
    hx-swap="innerHTML"
  >
    {% csrf_token %}
    <button
      type="submit"
      class="btn btn-delete"
    >
      Borrar comanda
    </button>
  </form>
</div>
