<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <style>
      {% include "core/styles/styles.css" %}
    </style>
    <title>COMANDA</title>
  </head>
  <body>
    <a href="{% url 'admin:index' %}" class="btn btn-secondary">
      ADMIN
    </a>
    <button
      class="btn btn-secondary"
      hx-get="{% url 'core:config' %}"
      hx-target="#main-content"
      hx-swap="innerHTML"
    >
      CONFIGURATION
    </button>
    <button
      class="btn btn-secondary"
      hx-get="{% url 'core:kitchen_screen' %}"
      hx-target="#main-content"
      hx-swap="innerHTML"
    >
      PANEL DE COCINA
    </button>
    <button
      class="btn btn-secondary"
      hx-get="{% url 'core:map' %}"
      hx-target="#main-content"
      hx-swap="innerHTML"
    >
      MAPA DE MESAS
    </button>
    <div id="main-content">
      {% if content_template %}
        {% include content_template %}
      {% else %}
        {% block content %}{% endblock %}
      {% endif %}
    </div>
  </body>
</html>
