<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <title>COMANDA</title>
  </head>
  <body>
    <button
      class="btn config"
      hx-get="{% url 'core:config' %}"
      hx-target="#main-content"
      hx-swap="outerHTML"
    >
      Configuration
    </button>
    <div id="main-content">{% block content %}{% endblock %}</div>
  </body>
</html>
