<div id="config-options">
  <div id="config-buttonss">
    <button
      class="btn zeta-inform"
      hx-get="{% url 'core:zeta_inform' 0 %}"
      hx-target="#main-content"
      hx-swap="innerHTML"
    >
      Informe ZETA
    </button>
    <button
      class="btn sales"
      hx-get="{% url 'core:operations' 0 %}"
      hx-target="#main-content"
      hx-swap="innerHTML"
    >
      VENTAS
    </button>
    <form
      hx-post="{% url 'core:close_zeta' 0 %}"
      hx-target="#main-content"
      hx-swap="innerHTML"
    >
      {% csrf_token %}
      <button
        class="btn close-zeta"
        type="submit"
      >
        CERRAR ZETA
      </button>
    </form>
  </div>
</div>
