<div id="config-options">
  <div id="config-buttonss">
    <button
      class="btn zeta-inform"
      hx-get="{% url 'zeta:zeta_inform' 0 %}"
      hx-target="#main-content"
      hx-swap="innerHTML"
    >
      Informe ZETA
    </button>
    <button
      class="btn sales"
      hx-get="{% url 'zeta:operations' 0 %}"
      hx-target="#main-content"
      hx-swap="innerHTML"
    >
      Ventas
    </button>
    <form
      hx-post="{% url 'zeta:close_zeta' 0 %}"
      hx-target="#main-content"
      hx-swap="innerHTML"
    >
      {% csrf_token %}
      <button class="btn close-zeta" type="submit">Cerrar ZETA</button>
    </form>
  </div>
</div>
