<div class="container">
    <h1>Mapa de mesas</h1>

    <div class="selection-row">
        <button
          class="section-btn"
          hx-get="{% url 'core:get_tables' 0 %}"
          hx-target="#tables-grid"
          hx-swap="innerHTML"
        >
          Todas
        </button>

        {% for section in sections %}
        <button
          class="section-btn"
          hx-get="{% url 'core:get_tables' section.id %}"
          hx-target="#tables-grid"
          hx-swap="innerHTML"
        >
          {{ section.name}}
        </button>     
        {% endfor %}
    </div>

    <div id="tables-grid" class="tables-grid">
        {% include "core/blocks/tables_section_block.html" %}
    </div>
</div>
