{% extends "./base.html" %} {% block content %}

<div class="catalog-column">
  <div class="panel">
    <div class="screen-header">
      <div>
        <button
          class="btn btn-secondary"
          hx-get="{% url 'core:map' %}"
          hx-target="#main-content"
          hx-swap="innerHTML"
        >
          Volver al mapa
        </button>
        <h2>Mesa 
            {{ table.number }}</h2>
        <div id="orders-panel">
          {% for order in orders %}
          <button
            class="category-btn"
            hx-get="{% url 'core:order_screen' table.id order.id %}"
            hx-target="#orders-panel"
            hx-swap="innerHTML"
          >
            Order {{ order.id }}
          </button>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
